.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: var(--text-muted);
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background: var(--background-elevated);
  }

  &.active {
    color: var(--text-main);
  }

}