.link {
  --text-size: var(--body-size); // md
  --icon-size: 20px;

  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none !important;
  color: var(--text-muted);
  line-height: 1;
  transition: all 0.3s;
  cursor: pointer;

  .text {
    padding-top: 1px;
    font-size: var(--text-size);
  }

  &[data-icon-position='right'] {
    flex-direction: row-reverse;
  }

  .icon {
    display: grid;
    place-items: center;
    height: var(--icon-size);
  }

  &[data-text-size='sm'] {
    --text-size: var(--small-size);
  }

  &[data-text-size='xs'] {
    --text-size: var(--extra-small-size);
  }

  &[data-icon-size='md'] {
    --icon-size: 20px;
  }

  &[data-icon-size='sm'] {
    --icon-size: 16px;
  }

  &[data-icon-size='xs'] {
    --icon-size: 12px;
  }

  svg {
    height: 100%;
  }

  &:hover {
    color: var(--text-main);
  }
}