.body {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
}

.sm {
  font-size: var(--small-size);
  font-weight: var(--small-weight);
}

.xs {
  font-size: var(--extra-small-size);
  font-weight: var(--extra-small-weight);
}