.post {
  --avatar-size: 40px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .head {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }

  .avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 100%;
    overflow: hidden;
  }

  .title {
    margin-bottom: 2px;
  }

  .subtitle {
    color: var(--text-muted);
  }

  .body {
    margin-bottom: 12px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .date {
    color: var(--text-muted);
  }

  .icon {
    color: var(--text-muted);
    width: fit-content;
    transition: color .3s;

    &:hover {
      color: var(--text-main);
    }

    svg {
      height: 16px;
    }
  }
}