.chip {
  --chip-color: 250, 250, 250;

  line-height: 1;
  border-radius: 28px;
  max-width: max-content;
  font-size: 14px;
  padding: 8px 16px;

  background: rgba(var(--chip-color), 0.1);
  color: rgb(var(--chip-color));

  &[data-color=primary] {
    --chip-color: 172, 117, 255;
  }

  &[data-color=secondary] {
    --chip-color: 76, 252, 225;
  }

  &[data-variant=outlined] {
    border: rgb(var(--chip-color)) 1px solid
  }

  &[data-size=sm] {
    font-size: 12px;
    padding: 6px 14px;
  }

  &[data-size=md] {
    font-size: 14px;
    padding: 8px 16px;
  }
}