.cta {
  padding: 12px 24px;
  background: linear-gradient(135deg, var(--primary-main) 0%, var(--primary-dark) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--rounded-sm);
}